/* fuction */
* {
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none; }

html {
  font-family: Helvetica,Pingfang SC,Microsoft YaHei,STHeiti,Verdana,Arial,Tahoma,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

img:not([src*="/"]) {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  border: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"], input[type="text"], input[type="button"], input[type="number"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

i {
  display: inline-block; }

/* common */
/* fuction */
/*
  *font-size
*/
.s-fs40 {
  font-size: 0.53333rem; }

.s-fs38 {
  font-size: 0.50667rem; }

.s-fs36 {
  font-size: 0.48rem; }

.s-fs34 {
  font-size: 0.45333rem; }

.s-fs32 {
  font-size: 0.42667rem; }

.s-fs30 {
  font-size: 0.4rem; }

.s-fs28 {
  font-size: 0.37333rem; }

.s-fs26 {
  font-size: 0.34667rem; }

.s-fs24 {
  font-size: 0.32rem; }

.s-fs22 {
  font-size: 0.29333rem; }

.s-fs20 {
  font-size: 0.26667rem; }

.s-fs18 {
  font-size: 0.24rem; }

.s-fs16 {
  font-size: 0.21333rem; }

.s-fs14 {
  font-size: 0.18667rem; }

.s-fs12 {
  font-size: 0.16rem; }

/*
  *color
*/
.s-c-w {
  color: #fff; }

.s-c-b {
  color: #000; }

.s-bg-blue {
  background-color: #42a5f5; }

/*
  *layout
*/
.g-tac {
  text-align: center; }

/*
  *layout-flex
*/
.g-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.g-flex-f1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.g-flex-main {
  -webkit-flex-direction: row;
  flex-direction: row; }

.g-flex-main-v {
  -webkit-flex-direction: column;
  flex-direction: column; }

.g-flex-hc {
  -webkit-box-align: center;
  -webkit-justify-content: center;
  justify-content: center; }

.g-flex-vc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

/*
  *layout--margin
*/
.g-mt5 {
  margin-top: 0.06667rem; }

.g-mt10 {
  margin-top: 0.13333rem; }

.g-mt15 {
  margin-top: 0.2rem; }

.g-mt20 {
  margin-top: 0.26667rem; }

.g-mt25 {
  margin-top: 0.33333rem; }

.g-mt30 {
  margin-top: 0.4rem; }

.g-mt35 {
  margin-top: 0.46667rem; }

.g-mt40 {
  margin-top: 0.53333rem; }

.g-mt45 {
  margin-top: 0.53333rem; }

.g-mt50 {
  margin-top: 0.66667rem; }

.g-mt55 {
  margin-top: 0.73333rem; }

.g-mt60 {
  margin-top: 0.8rem; }

.g-mt65 {
  margin-top: 0.86667rem; }

.g-mt70 {
  margin-top: 0.93333rem; }

.g-mt75 {
  margin-top: 1rem; }

.g-mt80 {
  margin-top: 1.06667rem; }

.g-mt85 {
  margin-top: 1.13333rem; }

.g-mt90 {
  margin-top: 1.2rem; }

.g-mt95 {
  margin-top: 1.26667rem; }

.g-mt100 {
  margin-top: 1.33333rem; }

.g-mr5 {
  margin-right: 0.06667rem; }

.g-mr10 {
  margin-right: 0.13333rem; }

.g-mr15 {
  margin-right: 0.2rem; }

.g-mr20 {
  margin-right: 0.26667rem; }

.g-mr25 {
  margin-right: 0.33333rem; }

.g-mr30 {
  margin-right: 0.4rem; }

.g-mr35 {
  margin-right: 0.46667rem; }

.g-mr40 {
  margin-right: 0.53333rem; }

.g-mr45 {
  margin-right: 0.53333rem; }

.g-mr50 {
  margin-right: 0.66667rem; }

.g-mr55 {
  margin-right: 0.73333rem; }

.g-mr60 {
  margin-right: 0.8rem; }

.g-mr65 {
  margin-right: 0.86667rem; }

.g-mr70 {
  margin-right: 0.93333rem; }

.g-mr75 {
  margin-right: 1rem; }

.g-mr80 {
  margin-right: 1.06667rem; }

.g-mr85 {
  margin-right: 1.13333rem; }

.g-mr90 {
  margin-right: 1.2rem; }

.g-mr95 {
  margin-right: 1.26667rem; }

.g-mr100 {
  margin-right: 1.33333rem; }

.g-mb5 {
  margin-bottom: 0.06667rem; }

.g-mb10 {
  margin-bottom: 0.13333rem; }

.g-mb15 {
  margin-bottom: 0.2rem; }

.g-mb20 {
  margin-bottom: 0.26667rem; }

.g-mb25 {
  margin-bottom: 0.33333rem; }

.g-mb30 {
  margin-bottom: 0.4rem; }

.g-mb35 {
  margin-bottom: 0.46667rem; }

.g-mb40 {
  margin-bottom: 0.53333rem; }

.g-mb45 {
  margin-bottom: 0.53333rem; }

.g-mb50 {
  margin-bottom: 0.66667rem; }

.g-mb55 {
  margin-bottom: 0.73333rem; }

.g-mb60 {
  margin-bottom: 0.8rem; }

.g-mb65 {
  margin-bottom: 0.86667rem; }

.g-mb70 {
  margin-bottom: 0.93333rem; }

.g-mb75 {
  margin-bottom: 1rem; }

.g-mb80 {
  margin-bottom: 1.06667rem; }

.g-mb85 {
  margin-bottom: 1.13333rem; }

.g-mb90 {
  margin-bottom: 1.2rem; }

.g-mb95 {
  margin-bottom: 1.26667rem; }

.g-mb100 {
  margin-bottom: 1.33333rem; }

.g-ml5 {
  margin-left: 0.06667rem; }

.g-ml10 {
  margin-left: 0.13333rem; }

.g-ml15 {
  margin-left: 0.2rem; }

.g-ml20 {
  margin-left: 0.26667rem; }

.g-ml25 {
  margin-left: 0.33333rem; }

.g-ml30 {
  margin-left: 0.4rem; }

.g-ml35 {
  margin-left: 0.46667rem; }

.g-ml40 {
  margin-left: 0.53333rem; }

.g-ml45 {
  margin-left: 0.53333rem; }

.g-ml50 {
  margin-left: 0.66667rem; }

.g-ml55 {
  margin-left: 0.73333rem; }

.g-ml60 {
  margin-left: 0.8rem; }

.g-ml65 {
  margin-left: 0.86667rem; }

.g-ml70 {
  margin-left: 0.93333rem; }

.g-ml75 {
  margin-left: 1rem; }

.g-ml80 {
  margin-left: 1.06667rem; }

.g-ml85 {
  margin-left: 1.13333rem; }

.g-ml90 {
  margin-left: 1.2rem; }

.g-ml95 {
  margin-left: 1.26667rem; }

.g-ml100 {
  margin-left: 1.33333rem; }

/*
  *layout--padding
*/
.g-pt5 {
  padding-top: 0.06667rem; }

.g-pt10 {
  padding-top: 0.13333rem; }

.g-pt15 {
  padding-top: 0.2rem; }

.g-pt20 {
  padding-top: 0.26667rem; }

.g-pt25 {
  padding-top: 0.33333rem; }

.g-pt30 {
  padding-top: 0.4rem; }

.g-pt35 {
  padding-top: 0.46667rem; }

.g-pt40 {
  padding-top: 0.53333rem; }

.g-pt45 {
  padding-top: 0.53333rem; }

.g-pt50 {
  padding-top: 0.66667rem; }

.g-pt55 {
  padding-top: 0.73333rem; }

.g-pt60 {
  padding-top: 0.8rem; }

.g-pt65 {
  padding-top: 0.86667rem; }

.g-pt70 {
  padding-top: 0.93333rem; }

.g-pt75 {
  padding-top: 1rem; }

.g-pt80 {
  padding-top: 1.06667rem; }

.g-pt85 {
  padding-top: 1.13333rem; }

.g-pt90 {
  padding-top: 1.2rem; }

.g-pt95 {
  padding-top: 1.26667rem; }

.g-pt100 {
  padding-top: 1.33333rem; }

.g-pr5 {
  padding-right: 0.06667rem; }

.g-pr10 {
  padding-right: 0.13333rem; }

.g-pr15 {
  padding-right: 0.2rem; }

.g-pr20 {
  padding-right: 0.26667rem; }

.g-pr25 {
  padding-right: 0.33333rem; }

.g-pr30 {
  padding-right: 0.4rem; }

.g-pr35 {
  padding-right: 0.46667rem; }

.g-pr40 {
  padding-right: 0.53333rem; }

.g-pr45 {
  padding-right: 0.53333rem; }

.g-pr50 {
  padding-right: 0.66667rem; }

.g-pr55 {
  padding-right: 0.73333rem; }

.g-pr60 {
  padding-right: 0.8rem; }

.g-pr65 {
  padding-right: 0.86667rem; }

.g-pr70 {
  padding-right: 0.93333rem; }

.g-pr75 {
  padding-right: 1rem; }

.g-pr80 {
  padding-right: 1.06667rem; }

.g-pr85 {
  padding-right: 1.13333rem; }

.g-pr90 {
  padding-right: 1.2rem; }

.g-pr95 {
  padding-right: 1.26667rem; }

.g-pr100 {
  padding-right: 1.33333rem; }

.g-pb5 {
  padding-bottom: 0.06667rem; }

.g-pb10 {
  padding-bottom: 0.13333rem; }

.g-pb15 {
  padding-bottom: 0.2rem; }

.g-pb20 {
  padding-bottom: 0.26667rem; }

.g-pb25 {
  padding-bottom: 0.33333rem; }

.g-pb30 {
  padding-bottom: 0.4rem; }

.g-pb35 {
  padding-bottom: 0.46667rem; }

.g-pb40 {
  padding-bottom: 0.53333rem; }

.g-pb45 {
  padding-bottom: 0.53333rem; }

.g-pb50 {
  padding-bottom: 0.66667rem; }

.g-pb55 {
  padding-bottom: 0.73333rem; }

.g-pb60 {
  padding-bottom: 0.8rem; }

.g-pb65 {
  padding-bottom: 0.86667rem; }

.g-pb70 {
  padding-bottom: 0.93333rem; }

.g-pb75 {
  padding-bottom: 1rem; }

.g-pb80 {
  padding-bottom: 1.06667rem; }

.g-pb85 {
  padding-bottom: 1.13333rem; }

.g-pb90 {
  padding-bottom: 1.2rem; }

.g-pb95 {
  padding-bottom: 1.26667rem; }

.g-pb100 {
  padding-bottom: 1.33333rem; }

.g-pl5 {
  padding-left: 0.06667rem; }

.g-pl10 {
  padding-left: 0.13333rem; }

.g-pl15 {
  padding-left: 0.2rem; }

.g-pl20 {
  padding-left: 0.26667rem; }

.g-pl25 {
  padding-left: 0.33333rem; }

.g-pl30 {
  padding-left: 0.4rem; }

.g-pl35 {
  padding-left: 0.46667rem; }

.g-pl40 {
  padding-left: 0.53333rem; }

.g-pl45 {
  padding-left: 0.53333rem; }

.g-pl50 {
  padding-left: 0.66667rem; }

.g-pl55 {
  padding-left: 0.73333rem; }

.g-pl60 {
  padding-left: 0.8rem; }

.g-pl65 {
  padding-left: 0.86667rem; }

.g-pl70 {
  padding-left: 0.93333rem; }

.g-pl75 {
  padding-left: 1rem; }

.g-pl80 {
  padding-left: 1.06667rem; }

.g-pl85 {
  padding-left: 1.13333rem; }

.g-pl90 {
  padding-left: 1.2rem; }

.g-pl95 {
  padding-left: 1.26667rem; }

.g-pl100 {
  padding-left: 1.33333rem; }

.banner {
  height: 4.66667rem;
  background-color: #42a5f5;
  color: #fff; }
